<script type="application/ld+json">
{
  "@context": "https://schema.org/",
  "@type": "ProfilePage",
  "description": "{{ .Description }}",
  "headline": "{{ .Title }}",
  "mainContentOfPage": {
    "@type": "Person",
    "givenName": "Lee",
    "familyName": "Kierstead",
    "address": "Alberta, Canada",
    "alumniOf": {
      "@type": "EducationalOrganization",
      "location": "Edmonton, AB",
      "name": "MacEwan University"
    },
    "hasOccupation": {
      "@type": "Occupation",
      "name": "Courtesy Clerk",
      "skills": "customer service"
    },
    "nationality": {
      "@type": "Country",
      "name": "Canada"
    }
  }
}
</script>
