<form id='contact-form'>
  <label for='email'>Email</label>
  <input type='email' id='email' autocomplete='email' name='h:Reply-To' required>
  <label for='subject'>Subject</label>
  <input type='text' id='subject' name='subject' required>
  <label for='name'>Name</label>
  <input type='text' id='name' placeholder='optional' autocomplete='name'>
  <label for='message'>Message</label>
  <textarea id='message' autocapitalize='sentences' maxlength='1500' minlength='10' placeholder='Comment text' rows='3' spellcheck='true' name='text' required></textarea>
  <input type='hidden' name='from' value='form@leecalvink.net'>
  <input type='hidden' name='to' value='contact@leecalvink.net'>
  <button><span id='submit-msg'>Send →</span></button>
</form>
